
html {font-size:14px;}

body {
  color:#5A6875;
  -webkit-font-smoothing: antialiased;
}




.content {
  padding-bottom:100px;
  padding-top:60px;
}




.img-responsive {max-width:100%;} 


.recipe-thumbnail {
  overflow: hidden;
  display:block;
  color: #525252;
}
.recipe-thumbnail .card-block {
  height:130px;
}

.recipe-thumbnail h4 {
  margin: 0 0 5px;    
}

.recipe-thumbnail p {
  color: #929292;
  font-size: 14px;
  font-weight: 400;
}







.recipe-table {
  margin:20px 0;
}

.recipe-table td,
.recipe-table th {
  border: none !important;
  color: #818A96;
  padding: 2px 0 !important;
}

.recipe-table th {
  width:1%;
  font-weight:500;
  white-space:nowrap;
  font-size:110%;
}







.back-btn:hover {
  text-decoration:none;
}

.back-btn:before {
  content: "\3008";
  margin: 0 4px 0 -6px;
}





.footer {
  border-top:solid 1px #e7e7e7;
  padding:40px 0;
}




